@import url(https://fonts.googleapis.com/css?family=Roboto);

@media only screen and (min-width: 1024px) {
  #table-of-contents {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        width: 33%;
        overflow-y: auto;
        border-right: 1px solid #e8e8e8;
        padding: 0 15px;
        font-size: 17px;
        background-color: #fafafa;
        -webkit-overflow-scrolling: touch;
  }
  body {
        position: absolute;
        top: 0;
        left: 33%;
        width: 70ex;
        margin-left: auto; 
        margin-right: auto; 
        text-align: justify;
        hyphens: auto;
        -moz-hyphens: auto;
        -webkit-hyphens: auto;
        -ms-hyphens: auto;
        right: 0;
        padding: 0 15px;
        -webkit-overflow-scrolling: touch;
        font-size: 18px;
  }
}
@media only print {
  #table-of-contents, #nav {
        display: none;
  }
}
@media only screen and (max-width: 1023px) {
  #table-of-contents {
        width: 100%;
        top: 40px;
  }
  body {
        text-align: justify;
        hyphens: auto;
        -moz-hyphens: auto;
        -webkit-hyphens: auto;
        -ms-hyphens: auto;
  }
}
@media (min-width: 768px) {
    body {
        max-width: 750px;
    }
}

body {
    font-family:Roboto,'Helvetica Neue',sans-serif;
}

/* Navigation buttons visible but not eye-catching */
.org-info-js_header-navigation > a, /* In main view */
.org-info-js_info-navigation a[accesskey], /* In per-section view */
.org-info-js_info-navigation > tbody:nth-child(1) > tr:nth-child(1) > td:nth-child(1) > span:nth-child(2) > a:nth-child(1) /* The HELP button which doesn't have access key */
{
    font-size: 1ex;
    border-radius: 10px;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: #FFF9F9;
    border: solid 1px #EFE9E9;
    color: #804040;
    text-decoration: none;
}

#table-of-contents ul {
    padding: 0;
}
.toc-h1 {
  margin-left: 0ex;
  list-style-type: none;
}
.toc-h2 {
  margin-left: 3ex;
  list-style-type: none;
}
.toc-h3 {
  margin-left: 6ex;
  list-style-type: none;
}

a {
    /* Blue, but less agressive than default */
    color: #202090;
}
#table-of-contents a,
.org-info-js_info-navigation a {
    /* No underline when it's clear by the context that it's a link */
    text-decoration: none;
}
#table-of-contents  a:hover {
        text-decoration: underline;
}
#table-of-contents  a:visited {
    color: #864586;
}
#table-of-contents .visited_after_load {
    color: #A665A6;
    background-color: #F0F0F0;
}
#table-of-contents a {
     color: #404040;
}
#table-of-contents {
     background-color: #FFFCF8;
}
#table-of-contents a.current, #table-of-contents .toc-active {
     background-color: #D0D0D0;
}
pre.src, pre.example {
    font-size: 90%;
}
@media (max-width: 400px) {
    /* For small screen, make sure nothing overflows to the right
    (typically on phone, to avoid useless horizontal scrolling.
    */
    pre.src, pre.example {
        overflow-x: scroll;
    }    
}
code {
    background: #F5FAF5;
    border: solid 1px #E0E8E0;
    padding-top: 0ex;
    padding-bottom: 0ex;
    padding-left: .8ex;
    padding-right: .8ex;
    font-size: 90%;
    border-radius: 5px;
/*
    I (Matthieu) like the 'inline-block' better since is increases the
    spacing between lines as needed, but it also allows line breaks
    right after, ugly when there's a puctuation right after.

    display: inline-block;
*/
}

.exercice {
    box-shadow: .5ex .5ex 1ex lightgrey;
    padding: 0.5em;
    border-style: solid;
    border-width: 0.2em;
    border-radius: 1em;
    border-color: #70A070;
    margin: 0.5em;
    background-color: #F0F5F0;
}

/*
Je (Matthieu) trouve cette personnalisation assez moche, et en tous
cas bien moins joli que sans personnalisation du tout. Si quelqu'un
n'est pas d'accord, il peut restaurer ce bout de CSS ...

.exercice h4 {
    border: solid;
    border-radius: 0.5em;
    border-width: 0.1em;
    border-color: green;
    padding: 0.5em;
    margin: 1em;
    margin-top: 0.1em;
    margin-right: 50%;
}
*/

.avances {
    box-shadow: .5ex .5ex 1ex lightgrey;
    border: solid;
    border-radius: 1em;
    margin: 0.5em;
    border-width: 0.2em;
    padding: 1em;
    padding-left: 10%;
    background: url("pointing-hand.svg") no-repeat 0 0;
    background-size: 5%;
    background-position: 1% 50%;
}
.jeudepiste {
    box-shadow: .5ex .5ex 1ex lightgrey;
    border: solid;
    border-radius: 1em;
    border-color: #70A070;
    margin: 0.5em;
    border-width: 0.2em;
    padding: 1em;
    padding-left: 10%;
    background: url("fleche.svg") no-repeat 0 0;
    background-size: 8%;
    background-position: 1% 50%;
    background-color: #F0F5F0;
}
.clavier {
    border: solid;
    border-width: 2px;
    border-radius: 3px;
    padding: 0.1em;
    box-shadow: 0.1em 0.1em 1px lightgrey;
    display: inline-block;
}
.attention {
    box-shadow: .5ex .5ex 1ex lightgrey;
    border-radius: 1em;
    border:solid;
    border-color: #E0A0A0;
    border-width: 0.3em;
    padding: 0.5em;
    margin: 0.5em;
    background-color: #F5F0F0;
}
